Source: zorin-gtk-theme-blue
Priority: optional
Maintainer: Luis Guerra
Version: 3.4.3
Essential: no
Package: zorin-gtk-theme-blue
Architecture: all
Homepage: https://github.com/ZorinOS/zorin-desktop-themes
Description: Zorin OS 16 GTK theme in blue color.
