Source: Zorin-Mint-Theme
Priority: optional
Maintainer: Luis Guerra
Version: 1.0
Essential: no
Package: Zorin-Mint-Theme
Architecture: all
Homepage: https://github.com/ZorinOS/zorin-desktop-themes
Description: Zorin OS 16 GTK theme in blue color.
